<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务网点注册</title>
    <!--<script type="text/javascript" src="../../../static/js/jquery-3.3.1.js"></script>-->
    <script type="text/javascript" src="../../../static/js/common.js"></script>
    <!-- 引入 bootstrap -->
    <link href="../../../static/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../static/bootstrap-3.3.7/dist/css/bootstrap-theme.css" rel="stylesheet">

    <script type="text/javascript" src="../../../static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../static/bootstrap-3.3.7/dist/js/bootstrap-table.js"></script>
    <!-- 引入bootstrap select插件 -->
    <link href="../../../static/bootstrap-3.3.7/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <script src="../../../static/bootstrap-3.3.7/dist/js/bootstrap-select.min.js"></script>
    <!--引入stringbuffer.js-->
    <script type="text/javascript" src="../../../static/utils/stringBuffer.js"></script>
    <!-- 弹框组件 -->
    <script type="text/javascript" src="../../../static/js/bootbox.js"></script>
    <script type="text/javascript" src="../../../static/js/jquery.form.js"></script>
    <!--jquery ui js 解决bootstrap 静态模块不能拖动问题-->
    <!--<script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>-->
    <!--引入本页面js-->
    <script type="text/javascript" src="../../../static/views/serviceSite/ServiceSiteExamine.js"></script>
    <style>
        /*table tr:nth-child(even){*/
        /*background: #ccc;*/
        /*}*/
        .table thead {
            background: rgb(65, 199, 214);
        }
        .back{
            /*BACKGROUND:url(../../../static/images/beijin.jpg) no-repeat center top #000;*/
            /*MARGIN:0px;*/
            padding:0;
            height: 1500px;
            width:1300px;
            /*margin-top: -25px*/
        }
    </style>
</head>
<body>
<!--详情-->
<div class="container-fluid info-container ">
    <div style="z-index: 14;">
        <div id="55aeff1c-8ece-ecf9-d35a-3068acd82ed3" class="component component-Label"
             style="left: 246px; top: 156px; width: 207px; height: 25px; padding: 0px; opacity: 1; z-index: 14; line-height: 24px; transform: scaleX(1) scaleY(1);">
            <div class="context" style="background-color: rgba(0, 0, 0, 0); position: absolute; line-height: 24px;">
                <div style="width: auto; height: auto; text-align: left;">
                    <div style="width: auto; height: auto;">
                        <label class="mav-text" style="white-space: nowrap; text-align: left; font-size: 18px; font-weight: 700; font-style: normal; text-decoration: none; font-family: 微软雅黑; color: rgb(255, 102, 85);margin-left: 49px">
                            服务网点审核
                        </label>
                        <!--<button id="return" class="btn btn-sm btn-info"-->
                        <!--style="margin-left: 1100px;margin-top: -50px;width: 80px" onclick="returnn();">返回-->
                        <!--</button>-->
                    </div>
                </div>
            </div>
            <div style="display: none;"></div>
        </div>
    </div>

    <!--<div class="panel panel-default" style="width: 1200px; height: auto;margin:0 auto;margin-top: 40px">-->
    <div class="panel panel-default" style="">
        <div  class="titile">
            <p>
                <img src="../../../static/images/wancheng.png" style="width: 32px;height: 32px;"/>
                <b style="color: #989898;">&nbsp&nbsp&nbsp&nbsp---------------------------------------------------------&nbsp&nbsp&nbsp&nbsp</b>
                <img src="../../../static/images/jiazai.png" style="width: 30px;height: 30px;"/>
                <b style="color: #989898;">&nbsp&nbsp&nbsp&nbsp---------------------------------------------------------&nbsp&nbsp&nbsp&nbsp</b>
                <img src="../../../static/images/wei.png" style="width: 32px;height: 32px;"/>
            </p>
            <p style="font-size: 16px">
                <span style="margin-left: -50px">宠物医院提交申请</span>
                <span style="margin-left: 235px">平台审核</span>
                <span style="margin-left: 285px">结束</span>
            </p>
        </div>
        <!--form 表单-->
        <form id="add" method="post">
            <div class="form-group">
                <!--基本信息-->
                <div class="panel panel-info" >
                    <p style="background-color: rgb(65, 199, 219);height: 45px;line-height: 45px;color: #FFFFFF;font-size: 14px;vertical-align:auto">&nbsp&nbsp&nbsp&nbsp<b>基本信息</b></p>
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1" >
                            <label>医院名称:</label>
                            <input id="organizationName" name="organizationName">
                        </div>
                        <div class="col-sm-6 " >
                            <label>注册资本:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input id="organizationCapital" name="organizationCapital">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1" >
                            <label >注册号:</label>
                            <input id="registerNumber" name="registerNumber">
                        </div>
                        <div class="col-sm-6 " >
                            <label>统一社会信用代码:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input id="creditCode" name="creditCode">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1" >
                            <label>成立日期:</label>
                            <input id="establishDate" name="establishDate">
                        </div>
                        <div class="col-sm-6 " >
                            <label>所属省份:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input id="province" name="province">
                        </div>
                    </div>

                    <div class="row">
                    <div class="col-sm-5 col-sm-offset-1" >
                        <label>所属城市:</label>
                        <input id="ownedCity" name="ownedCity">
                    </div>
                    <div class="col-sm-6 " >
                        <label>所属区/县:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input id="district" name="district">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1" >
                        <label>详细地址:</label>
                        <input style="width: 400px" id="address" name="address">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1" >
                        <label >联系人:</label>
                        <input id="personLiable" name="personLiable">
                    </div>
                    <div class="col-sm-6 " >
                        <label>联系电话:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input id="phone" name="phone">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1" >
                        <label >经营范围:</label>
                        <textarea rows="4" style="width: 600px" id="scopeOfOperation" name="scopeOfOperation"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1" >
                        <label class="img-text">店铺照片:</label>
                        <div id="dg" class="panel panel-default">
                            <div class="uploader-demo">
                                <!--用来存放item-->
                                <ul id="fileList" class="list-unstyled list-inline "></ul>
                                <div id="filePicker"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 " >
                    </div>
                </div>

            </div>
            <!--证件信息-->
            <div class="form-group">
                <!--证件信息-->
                <div class="panel panel-info" style="margin: 0 auto;">
                    <p style="background-color: rgb(65, 199, 219);height: 45px;line-height: 45px;
                    color: #FFFFFF;font-size: 14px;margin-bottom: -15px;">&nbsp&nbsp&nbsp&nbsp<b>证件信息</b>
                    </p>
                    &nbsp;&nbsp;
                    <!--<b class="col-sm-3" style=";margin: 10px;">1、动物诊疗许可证</b>-->
                    <div class="row">
                        <span style="margin-left: 20px">1、动物诊疗许可证</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1" >
                            <label>证件号码:</label>
                            <input class="card_number" name="card_number">
                        </div>
                        <div class="col-sm-6 " >
                            <lable>有效期：</lable>
                            <input  name="upTime" class="upTime">
                            <input  name="expireTime" class="expireTime">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-11 col-sm-offset-1" >
                            <label>照片:</label>
                            <div id="dg1" class="panel panel-default">
                                <div class="uploader-demo">
                                    <div id="filePicker1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div style="margin-top: 10px;margin-left:20px;margin-bottom: 20px">-->
                        <!--&lt;!&ndash;要实现如上demo，首先需要准备一个按钮，和一个用来存放添加的文件信息列表的容器。&ndash;&gt;-->
                        <!--&lt;!&ndash;dom结构部分&ndash;&gt;-->
                        <!--<label>照片:</label>-->
                        <!--<div id="dg1" class="panel panel-default">-->
                            <!--<div class="uploader-demo">-->
                                <!--<div id="filePicker1">-->


                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="row">
                        <span style="margin-left: 20px">1、动物防疫合格证</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1" >
                            <label>证件号码:</label>
                            <input  class="card_number" name="card_number">
                        </div>
                        <div class="col-sm-6 " >
                            <label>有效期限:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input  name="upTime" class="upTime">
                            <input  name="expireTime" class="expireTime">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11 col-sm-offset-1" >
                            <label>照片:</label>
                            <div id="dg2" class="panel panel-default">
                                <div class="uploader-demo">
                                    <div id="filePicker2"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <span style="margin-left: 20px">3、工商营业执照</span>
                    </div>

                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1" >
                            <label>证件号码:</label>
                            <input class="card_number" name="card_number">
                        </div>
                        <div class="col-sm-6 " >
                            <label>有效期限:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input  name="upTime" class="upTime">
                            <input  name="expireTime" class="expireTime">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-11 col-sm-offset-1" >
                            <label>照片:</label>
                            <div id="dg3" class="panel panel-default">
                                <div class="uploader-demo">
                                    <div id="filePicker3"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <span style="margin-left: 20px">4、兽医资格证</span>
                    </div>

                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1" >
                            <label>证件号码:</label>
                            <input class="card_number" name="card_number">
                        </div>
                        <div class="col-sm-6 " >
                            <label>有效期限:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input  name="upTime" class="upTime">
                            <input  name="expireTime" class="expireTime">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11 col-sm-offset-1" >
                            <label>照片:</label>
                            <div id="dg4" class="panel panel-default">
                                <div class="uploader-demo">
                                    <div id="filePicker4"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <!--工具按钮-->
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <button   data-toggle="modal" data-target="#success" class="btn btn-sm btn-info an" style="margin-right: 50px;width: 80px" onclick="">
                    审核通过
                </button>
                <button  data-toggle="modal" data-target="#fail"  class="btn btn-sm btn-info an" style="margin-right: 50px;width: 80px" onclick="">
                    审核不通过
                </button>
                <button id="cancel" class="btn btn-sm btn-default an" style="width: 80px" onclick="">取消</button>
            </div>
            <div class="col-sm-4">
            </div>
            <div style="height: 50px"></div>
        </div>
    </div>
    <div style="height: 25px"></div>
</div>

<!-- 审核通过弹框 -->
<div id="success" class="modal fade" data-backdrop="false"   tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-title">
                <h2 class="text-center">指定业务范围</h2>
            </div>
            <!-- 指定业务范围复选框-->
            <div class="modal-body">
                    <div class="">
                        <label>请指定业务范围</label>
                    </div>
                    <div class="checkbox-custom">
                        <input type="checkbox" id="immune_card" name="card_add" value="0">
                        <label for="immune_card">免疫证办理</label>
                    </div>
                    <div class="checkbox-custom">
                        <input type="checkbox" id="dog_card" name="card_add" value="1">
                        <label for="dog_card">犬证办理</label>
                    </div>
                <div class="modal-footer">
                    <button id="submit_button1" class="btn btn-primary">确定</button>
                    <button class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 审核不通过弹框 -->
<div id="fail" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-body">
                 <button class="close" data-dismiss="modal">
                     <span>&times;</span>
                 </button>
             </div>
             <div class="modal-title">
                 <h2 class="text-center">审批不通过原因</h2>
             </div>
             <div>
                 <textarea id="content" rows="5" cols="75%" style="margin-left: 20px;margin-top: 20px" ></textarea>
             </div>
             <div class="modal-footer">
                 <button id="submit_button2" class="btn btn-primary">确定</button>
                 <button class="btn btn-danger" data-dismiss="modal">取消</button>
             </div>
         </div>

    </div>
</div>

</body>
<style type="text/css">
    .panel-info>div,.info-01>div{
        border-bottom: dashed 1px #ccc;
        padding: 10px 0 ;
    }
    /*input{*/
    /*margin-left: 20px;*/
    /*border: none;*/
    /*border-bottom:solid 1px red; !*#49C8DA ;*!*/
    /*width: 165px;*/
    /*}*/

    .checkbox-custom {
        position: relative;
        padding: 0 15px 0 25px;
        margin-bottom: 7px;
        margin-top: 0;
        display: inline-block;
    }
    /*
    将初始的checkbox的样式改变
    */
    .checkbox-custom input[type="checkbox"] {
        opacity: 0;/*将初始的checkbox隐藏起来*/
        position: absolute;
        cursor: pointer;
        z-index: 2;
        margin: -6px 0 0 0;
        top: 50%;
        left: 3px;
    }
    /*
    设计新的checkbox，位置
    */
    .checkbox-custom label:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -9px;
        width: 19px;
        height: 18px;
        display: inline-block;
        border-radius: 2px;
        border: 1px solid #bbb;
        background: #fff;
    }
    /*
    点击初始的checkbox，将新的checkbox关联起来
    */
    .checkbox-custom input[type="checkbox"]:checked +label:after {
        position: absolute;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        content: "\e013";
        top: 42%;
        left: 3px;
        margin-top: -5px;
        font-size: 11px;
        line-height: 1;
        width: 16px;
        height: 16px;
        color: #333;
    }
    .checkbox-custom label {
        cursor: pointer;
        line-height: 1.2;
        font-weight: normal;/*改变了rememberme的字体*/
        margin-bottom: 0;
        text-align: left;
    }
    .component-Label{
        margin: 20px 0;
    }
    .titile{
        text-align: center;
        margin: 20px 0;
    }
    label{
        display: inline-block;
        width: 100px;

        vertical-align: top;
    }
    .panel-default{
        height: 100px;
    }
    .panel-info .row{
        margin: 0;
    }

</style>
</html>