<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--免疫登记list-->
    <script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <!--<script type="text/javascript" src="../js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="../../js/cookie_util.js"></script>
    <script type="text/javascript" src="../../js/Validform.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-calendar.js"></script>
    <script type="text/javascript" src="../../js/alertBox.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/search-input.css">

    <!-- 引入 bootstrap -->
    <link href="../../bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../bootstrap-3.3.7/dist/css/bootstrap-theme.css" rel="stylesheet">
    <script type="text/javascript" src="../../bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../bootstrap-3.3.7/dist/js/bootstrap-table.js"></script>

    <!--bootstrap table -->
    <link href="../../../static/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">


    <!--jquery ui js 解决bootstrap 静态模块不能拖动问题-->
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <!--自定义的stringbuffer-->
    <script type="text/javascript" src="../../utils/stringBuffer.js"></script>
    <!--引入本页面js-->
    <script type="text/javascript" src="immuneToRegisterList.js"></script>

</head>
<body>
    <div class="container-fluid" style="width: 1200px">
        <div  class="row" style="margin-top: 20px">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-plus" style="color: rgb(67, 200, 214)">免疫登记</span>
            </div>
            <div class="col-sm-6 ">
                <div class="search-container">
                    <span class="search-icon" ></span>
                    <input class="form-input" type="text" placeholder="免疫证号">
                </div>


                <!--<div class="input-group">-->
                    <!--<input type="text"  placeholder="免疫证号" class="form-control">-->
                    <!--<span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-search"> <span >搜索</span></i></a></span>-->
                <!--</div>-->
            </div>
        </div>
        <div >
            <table id="immuneToRegisterTable"></table>
        </div>
    </div>
</body>
<style>
    .glyphicon-plus{
        font-size: 17px;
        line-height: 112px;
        padding-left: 20px;
    }
</style>
</html>