<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>犬只注销-注销信息</title>
    <link href="../../bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="panel panel-default" style="width: 1300px; height: 1545px;margin-top: 20px">
        <!--form 表单-->
        <form id="add" method="post">
            <div class="form-group">
                <!--注销信息-->
                <div class="" style="margin-left: 20px;margin-top: 20px;">
                    <div style="background-color: rgb(65, 199, 219);height: 27px;color: #ffffff;width: 1255px"><b>&nbsp&nbsp&nbsp&nbsp注销信息</b></div>
                    <div class="row">
                        <div>
                            <div style="margin-top: 10px;margin-left:20px" class="row">
                                      <span class="col-sm-10">
                                          <label>注销原因:</label>
                                          <select style="width: 255px;height: 27px">
                                              <option>死亡</option>
                                              <option>丢失</option>
                                              <option>异地送养</option>
                                              <option>其他</option>
                                          </select>
                                      </span>
                            </div>
                            <div style="height: 20px"></div>
                            <div style="margin-top: 10px;margin-left:20px;margin-bottom: 20px" class="row">
                                      <span class="col-sm-10">
                                          <label>验证码:</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input>
                                          <button>点击获取</button>
                                      </span>
                            </div>
                            <div style="margin-top: 100px;margin-left: 350px">
                                <button style="background-color: rgb(65, 199, 219);border:none;color: #ffffff;width: 80px;height: 30px">提交</button>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <button style="border:none;width: 80px;height: 30px">取消</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>