<!DOCTYPE html>
<html lang="en">
<head>
    <!--犬只档案-->
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../../static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../../static/js/common.js"></script>
    <!--<script type="text/javascript" src="../js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="../../../static/js/cookie_util.js"></script>
    <script type="text/javascript" src="../../../static/js/Validform.min.js"></script>
    <script type="text/javascript" src="../../../static/js/jquery-calendar.js"></script>
    <script type="text/javascript" src="../../../static/js/alertBox.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/search-input.css">
    <!-- 引入 bootstrap -->
    <link href="../../../static/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../static/bootstrap-3.3.7/dist/css/bootstrap-theme.css" rel="stylesheet">
    <script type="text/javascript" src="../../../static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../static/bootstrap-3.3.7/dist/js/bootstrap-table.js"></script>
    <!--jquery ui js 解决bootstrap 静态模块不能拖动问题-->
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <!--自定义的stringbuffer-->
    <script type="text/javascript" src="../../../static/utils/stringBuffer.js"></script>
    <script type="text/javascript" src="../../../static/js/YLUtils.js"></script>
    <!--引入本页面js-->
    <script type="text/javascript" src="../../../static/views/dog/dogFiles.js"></script>
</head>
<body>

    <div class="panel-body" style="padding-bottom:0px;margin-top: -50px">
        <!--<div class="col-sm-3" style="position: absolute;left: 91px;display:none">-->
            <!--<span id="sendMessage" data-toggle='modal' data-target='#myModal'>-->
                <!--<a href="#">-->
                    <!--<img src="../../../static/images/message.png" width="20px" height="20px">-->
                    <!--<font color="aqua">发消息</font>-->
                <!--</a>-->
            <!--</span>-->
        <!--</div>-->
        <!--<div class="col-sm-3 search-ctx" id="so">-->
               <!--<div class="input-group ">-->
                   <div class="search-container" style="height: 20px">
                       <span class="search-icon" id="ss" ></span>
                       <input class="form-input " type="text" placeholder="犬主姓名/身份证号/犬证号/免疫证号/标示牌号">
                   </div>
	               <!--<input type="text"  placeholder="犬主姓名/身份证号/犬证号/免疫证号/标示牌号" class="form-control">-->
	               <!--<span class="input-group-addon" id="ss"><a href="#"><i class="glyphicon glyphicon-search"> <span >搜索   </span></i></a></span>-->
	           <!--</div>-->
        <!--</div>-->
    </div>
	<div class="panel-body" style="padding-bottom:0px;margin-top: -50px">
		 <table id="dogFileTable" class="table table-striped table-bordered"></table>
	</div>
    <!--bootstrap 静态弹出框-->
    <!-- 按钮触发模态框 -->
    <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
        <!--开始演示模态框-->
    <!--</button>-->
    <!-- 模态框（Modal） -->
<!--     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 906px;height: 568px">
                <div class="modal-header " style="background-color: rgb(65, 199, 219);height:36px;line-height:7px">
                    &nbsp&nbsp信息推送
                </div>
                <div class="modal-body">
                   <div class="row" style="margin-left: 20px;margin-top:20px">
                      <label>消息标题:</label>
                       <input style="width: 761px;">
                   </div>

                    <div class="row" style="margin-left: 20px;margin-top: 15px">
                        <label>消息内容:</label>
                        <textarea class="form-control" id="deblock_udid" name="deblock_udid" rows="16" style="min-width:60%;max-width: 95%"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                        <div style="margin: auto;position: relative;  top: 0; left: 0; bottom: 0; right: 0;line-height: 100px;text-align: center">
                            <span style="margin-right: 20px;display: inline">
                                <button type="button" class="btn btn-primary">发送</button>
                            </span>
                            <span style="display: inline">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </span>
                        </div>
                </div>
            </div>
        </div>
    </div> -->
</body>
<style>
    table input[type='checkbox']{
        height: 20px;
        width: 20px;
        display: inline-block;
    }
    thead tr{
        background-color: #49C8D5;
    }
    .search-ctx{
        float: right;
    }
</style>
</html>