<!DOCTYPE html>
<html lang="en">
<head>
    <!--动态资讯、政策法规、服务指南等的详情-->
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../../static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../../static/js/common.js"></script>
    <!--<script type="text/javascript" src="../js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="../../../static/js/cookie_util.js"></script>
    <script type="text/javascript" src="../../../static/js/Validform.min.js"></script>
    <script type="text/javascript" src="../../../static/js/jquery-calendar.js"></script>
    <script type="text/javascript" src="../../../static/js/alertBox.js"></script>
    <!-- 引入 bootstrap -->
    <link href="../../../static/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../static/bootstrap-3.3.7/dist/css/bootstrap-theme.css" rel="stylesheet">
    <script type="text/javascript" src="../../../static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../static/bootstrap-3.3.7/dist/js/bootstrap-table.js"></script>
    <!--jquery ui js 解决bootstrap 静态模块不能拖动问题-->
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <!--自定义的stringbuffer-->
    <script type="text/javascript" src="../../../static/utils/stringBuffer.js"></script>
</head>
<body>
<div class="container-fluid">
    <div style="z-index: 14;">
        <div id="55aeff1c-8ece-ecf9-d35a-3068acd82ed3" class="component component-Label" style="left: 246px; top: 156px; width: 207px; height: 25px; padding: 0px; opacity: 1; z-index: 14; line-height: 24px; transform: scaleX(1) scaleY(1);"><div class="context" style="background-color: rgba(0, 0, 0, 0); position: absolute; line-height: 24px;">
            <div style="width: auto; height: auto; text-align: left;">
                <div style="width: auto; height: auto;">
                    <label style="white-space: nowrap; text-align: left; font-size: 18px; font-weight: 700; font-style: normal; text-decoration: none; font-family: 微软雅黑; color: rgb(255, 102, 85);">
                        详情&gt;&gt;
                    </label>
                </div>
            </div>
        </div>
            <div style="display: none;"></div>
        </div>
    </div>
    <div class="panel panel-default" style="width: 1200px;margin-top: 20px">
        <div style="width: 1200px;text-align: center"><h4>西宁市养犬登记办理指南</h4></div>
        <div style="width: 1200px;text-align: center;color: #a3a3a3;margin-top: 20px">
            <span>浏览次数：</span>
            <span>1231</span>
            <span>来源：</span>
            <span>西宁市犬只办</span>
            <span>发布时间：</span>
            <span>2018-03-02</span>
        </div>
        <p><hr style="border: 1px dashed #0f0f0f;width: 95%;color:gray;size: 1px;height:0px"></p>
        <div style="width: 1000px;text-align: center;margin-left: auto;margin-right: auto">
            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
        </div>
    </div>
</div>
</body>
</html>