<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宠物医院首页</title>
    <!--宠物医院首页-->
    <script type="text/javascript" src="../../../static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../../static/js/common.js"></script>
    <!--<script type="text/javascript" src="../js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="../../../static/js/cookie_util.js"></script>
    <script type="text/javascript" src="../../../static/js/Validform.min.js"></script>
    <script type="text/javascript" src="../../../static/js/jquery-calendar.js"></script>
    <script type="text/javascript" src="../../../static/js/alertBox.js"></script>
    <!-- 引入 bootstrap -->
    <link href="../../../static/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../static/bootstrap-3.3.7/dist/css/bootstrap-theme.css" rel="stylesheet">
    <script type="text/javascript" src="../../../static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <!--bootstrap datetimepicker -->
    <link href="../../../static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <script type="text/javascript" src="../../../static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../../../static/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <!--<link href="../../../static/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">-->
    <script type="text/javascript" src="../../../static/bootstrap-3.3.7/dist/js/bootstrap-table.js"></script>

    <!--jquery ui js 解决bootstrap 静态模块不能拖动问题-->
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <!--自定义的stringbuffer-->
    <script type="text/javascript" src="../../../static/utils/stringBuffer.js"></script>

    <!--引入echarts-->
    <script type="text/javascript" src="../../../static/echarts/echarts.min.js"></script>

    <!--引入unslider-->
    <!--<script src="../../../static/unslider/unslider.min.js"></script>-->
    <!--<script src="../../../static/unslider/js/unslider.js"></script>-->

    <!--引入本页面js-->
    <script type="text/javascript" src="../../../static/views/homePage/petClinicHomePage.js"></script>

    <style>
        .cartogram{
            /*margin-top: 10px;*/
            margin-top: 10px;
            position: absolute;
            left: 40px;
            font-size: 18px;
            font-family: 微软雅黑;
            color: rgb(65, 199, 214);
        }
        .myMessageSpanLeft{
            position: relative;
            left: 3%;
            font-size: 16px;
        }
        .myMessageSpanRight{
            position: relative;
            right: -42%;
        }
        .jrzxdiv{
            position: relative;
            top: 30%;
        }
        .jrzxdivdiv1{
            display: inline-block;
            position: relative;
            left: 20px;
        }
        .jrzxdivdiv2{
            display: inline-block;
            position: relative;
            left: 65px;
            font-size: 16px;
        }
        .jrzxdivdiv3{
            display: inline-block;
            position: absolute;
            right:35px;
            font-size: 24px;
        }


        .jryydivleft{
            border: 1px solid #f0ad4e;
            display: inline-block;
            width: 300px;
            left: 95px;
            height: 70px;
            position: absolute;
            border-radius: 10px;
        }
        .jryydivright{
            border: 1px solid #f0ad4e;
            display: inline-block;
            width: 300px;
            position: absolute;
            height: 70px;
            right: 85px;
            border-radius: 10px;
        }
        .jryydiv{
            position: relative;
            top: 22%;
        }

        .mycalendarwidth  .table-condensed{
            width: 360px;
        }
		.todaybtnpad .today{
			padding:0px;
		}

    </style>
</head>
<body>
    <div class="container-fluid" style="width: 1200px">
        <div class="row" style="margin-top: 20px">
            <div class="col-sm-8">
                <div style="border: 1px solid gray;height: 263px">
                    <div class="row">
                        <div class="cartogram">
                            <label>今日预约</label>
                        </div>
                        <!--&lt;!&ndash;分隔线&ndash;&gt;-->
                        <hr style="border: 1px solid #e8e8e8;width: 96%;position: absolute;top: 22px;left: 15px">
                    </div>
                    <div class="row" style="margin-top: 9%;margin-left: 76px;">
                            <div class="jryydivleft">
                                <div class="jryydiv">
                                    <div class="jrzxdivdiv1">
                                        <img src="../../../static/images/petclinic/1.png">
                                    </div>
                                    <div class="jrzxdivdiv2">看病预约</div>
                                    <div id="preTreat" class="jrzxdivdiv3">32</div>
                                </div>
                            </div>
                            <div class="jryydivright">
                                <div class="jryydiv">
                                    <div class="jrzxdivdiv1">
                                        <img src="../../../static/images/petclinic/2.png">
                                    </div>
                                    <div class="jrzxdivdiv2">免疫预约</div>
                                    <div id="preImmune" class="jrzxdivdiv3">32</div>
                                </div>
                            </div>
                    </div>
                    <div class="row" style="margin-top: 16%;margin-left: 79px;">
                        <div class="jryydivleft" style="margin-top: -28px;">
                            <div class="jryydiv">
                                <div class="jrzxdivdiv1">
                                    <img src="../../../static/images/petclinic/3.png">
                                </div>
                                <div class="jrzxdivdiv2">办证预约</div>
                                <div id="preDoCard" class="jrzxdivdiv3">32</div>
                            </div>
                        </div>
                        <div class="jryydivright" style="margin-top: -28px">
                            <div class="jryydiv">
                                <div class="jrzxdivdiv1">
                                    <img src="../../../static/images/petclinic/4.png">
                                </div>
                                <div class="jrzxdivdiv2">年检预约</div>
                                <div id="preCheck" class="jrzxdivdiv3">32</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="border: 1px solid gray;height: 350px;margin-top: 20px">
                    <div class="row">
                        <div class="cartogram">
                            <label>上月疫苗使用情况</label>
                        </div>
                        <!--&lt;!&ndash;分隔线&ndash;&gt;-->
                        <hr style="border: 1px solid #e8e8e8;width: 96%;position: absolute;top: 49%;left: 15px">
                        <div id="vaccinumDetailEchart" style="height: 300px;margin-top: 50px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="Mycalendar" class="mycalendarwidth todaybtnpad today" style="border: 1px solid rgb(255, 102, 85);height: 263px;border-radius: 10px">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 21px">
                    <div class="col-sm-12">
                        <div style="border: 1px solid rgb(255, 153, 102);height: 77px;border-radius: 10px">
                            <div class="jrzxdiv">
                                <div class="jrzxdivdiv1">
                                    <img src="../../../static/images/petclinic/11.png">
                                </div>
                                <div class="jrzxdivdiv2">昨日看病次数</div>
                                <div id="yesTreat" class="jrzxdivdiv3">32</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 13px">
                    <div class="col-sm-12">
                        <div style="border: 1px solid rgb(255, 204, 102);height: 77px;border-radius: 10px;">
                            <div class="jrzxdiv">
                                <div class="jrzxdivdiv1">
                                    <img src="../../../static/images/petclinic/22.png">
                                </div>
                                <div class="jrzxdivdiv2">昨日办证次数</div>
                                <div id="yesCard" class="jrzxdivdiv3">32</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 13px">
                    <div class="col-sm-12">
                        <div style="border: 1px solid rgb(255, 204, 102);height: 77px;border-radius: 10px;">
                            <div class="jrzxdiv">
                                <div class="jrzxdivdiv1">
                                    <img src="../../../static/images/petclinic/33.png">
                                </div>
                                <div class="jrzxdivdiv2">昨日免疫次数</div>
                                <div id="yesImmune" class="jrzxdivdiv3">32</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 14px">
                    <div class="col-sm-12">
                        <div style="border: 1px solid rgb(255, 204, 102);height: 77px;border-radius: 10px;">
                            <div class="jrzxdiv">
                                <div class="jrzxdivdiv1">
                                    <img src="../../../static/images/petclinic/44.png">
                                </div>
                                <div class="jrzxdivdiv2">昨日年检次数</div>
                                <div id="yesYearCheck" class="jrzxdivdiv3">32</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-sm-12">
                <div style="border: 1px solid gray;">
                    <div class="cartogram">
                        <label>客户增长趋势</label>
                    </div>
                    <hr style="border: 1px solid #e8e8e8;width: 97%;position: absolute;top: 27px;">
                    <div id="khzzEchart" style="height: 400px;margin-top: 60px"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>