.img1{width: 550px;height: 281px;border-radius:20px;}
.img2{width: 30px;height: 30px;margin: -70px 0px 0px 512px}
.cardDiv1{margin: 30px 0px 0px 300px;}
.cardDiv2{left: 0px; top: 0px; width: 550px; height: 281px; border-radius: 15.46px; background-color: rgb(241, 241, 241); border: 1px solid rgb(204, 204, 204);display: none;}
.cardDiv3{left: 0px; top: 0px; width: 24px; height: 24px;}