<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>Title</title>

    <!-- jquery -->
    <!--<script type="text/javascript" src="../../../static/js/jquery-3.3.1.js"></script>-->
    <script type="text/javascript" src="../../../static/js/common.js"></script>

    <!-- 引入 bootstrap -->
    <link href="../../../static/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../static/bootstrap-3.3.7/dist/css/bootstrap-theme.css" rel="stylesheet">
    <script src="../../../static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

    <!--jquery ui js 解决bootstrap 静态模块不能拖动问题-->
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <!-- 高德地图组件 -->
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>
    <script src="https://webapi.amap.com/maps?v=1.4.10&key=1c94c30093150501e3cf3a83bea87e00&plugin=AMap.PolyEditor,AMap.CircleEditor,AMap.ToolBar,AMap.MouseTool"></script>
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
    <!-- 弹框组件 -->
    <script type="text/javascript" src="../../../static/js/bootbox.js"></script>

    <script type="text/javascript" src="fence.js"></script>

    <style>
        #set_fenceName {
            height: 1000px;
        }

    </style>

</head>
<body>
    <div id="container"></div>
    <div class="button-group">
            <input id="start_addFence" class="button" type="button"  value="开始围栏设置">
            <input id="end_addFence" class="button" type="button" data-toggle="modal" data-target="#set_fenceName"   value="结束围栏设置">
            <input id="endEditFence"  class="button" type="button"  value="围栏编辑完成">
            <!--<a data-toggle="modal" data-target="#set_fenceName" href="#set_fenceName">55555</a>-->
    </div>

    <div id="set_fenceName" class="modal fade" tabindex="-1" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h4 class="text-left" style="margin-left: 20px">请输入围栏名称</h4>
                </div>
                <div class="modal-body">
                    <input id="fenceName" type="text" style="width: 80%">
                </div>
                <div class="text-center modal-footer">
                    <button id="submit_button" class="btn btn-primary" >确定</button>
                    <button class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>